html {
  scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 238);
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    padding: 40px;
}

.oops {
    font-size: 100px;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
}

p {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;    
}

button {
    font-size: 28px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.youtube-link {
    color: darkblue;
    text-decoration: underline;
    font-size: 25px;
}

audio {
    margin-top: 20px;
}

footer {
    margin-top: 40px;
}
.top-left-404 {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: darkblue;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.list_container {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
}
